<app-timer [interval]="500" [init]="0">

  <div>
    <app-timer-toggle></app-timer-toggle>
    <app-timer-display></app-timer-display>
    🌚 🌕 🌖 🌗 🌘 🌑 🌒 🌓 🌔 🌙
  </div>

  <div>
    <app-timer-toggle></app-timer-toggle>
    <app-timer-display></app-timer-display>
    🌚 🌕 🌖 🌗 🌘 🌑 🌒 🌓 🌔 🌙
  </div>

</app-timer>

<h2> Antoher Area </h2>

<app-timer [interval]="500" [init]="0">
  <div>
    <app-timer-toggle></app-timer-toggle>
    <app-timer-display></app-timer-display>
    🌚 🌕 🌖 🌗 🌘 🌑 🌒 🌓 🌔 🌙
  </div>
</app-timer>
