<div class="container" appTimer appTimerFrom [interval]="500" [init]="0" #appTimerRef="appTimerFrom">
  <div class="card">
    <app-timer-toggle></app-timer-toggle>
    <app-timer-display></app-timer-display>
    🌚 🌕 🌖 🌗 🌘 🌑 🌒 🌓 🌔 🌙
  </div>

  <div class="card">
    <app-timer-toggle></app-timer-toggle>
    <app-timer-display></app-timer-display>
    🌚 🌕 🌖 🌗 🌘 🌑 🌒 🌓 🌔 🌙
  </div>
</div>

<h2> Antoher Area </h2>

<div class="card" [appTimerFrom]="appTimerRef">
  <app-timer-toggle></app-timer-toggle>
  <app-timer-display></app-timer-display>
  🌚 🌕 🌖 🌗 🌘 🌑 🌒 🌓 🌔 🌙
</div>
