<ng-container *ngIf="template, else defaultTemplate">
  <ng-container *ngTemplateOutlet="template; context: {value: value, isPaused: isPaused, start: start,  pause: pause}">
  </ng-container>
</ng-container>
<ng-template #defaultTemplate>
  <div>
    <p> ⏰ </p>
    <p>{{ value }}</p>
    <button [ngClass]="{paused: !isPaused}"
            (click)="isPaused ? start() : pause()">{{isPaused ? 'START' : 'PAUSE' }}</button>
    <button [ngClass]="{disabled: !isStoppable}" [disabled]="!isStoppable" (click)="stop()">STOP</button>
  </div>
</ng-template>
