:host {
  font-size: 18px;
  background-color: #f1f1f1;
  padding: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

p {
  font-size: 22px;
}

button {
  border: 1px solid lightgrey;
  padding: 5px 20px;
  margin: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

button:focus {
  outline: 0 !important;
}

.paused, .disabled {
  background-color: lightgrey;
}
